services:
  app:
    image: registry.setiady.com/lajuladotapp:v1.0.0
    container_name: lajuladotapp
    restart: unless-stopped
    networks:
      - shared-network

networks:
  shared-network:
    external: true