version: '3.8'

services:
  wetty:
    image: wettyoss/wetty:latest
    container_name: wetty
    restart: unless-stopped
    networks:
      - shared-network

networks:
  shared-network:
    external: true